<div class="">
   
    <div class="w-95/100 m-auto mt-4 flex flex-col" id="answerContainer">
        <form id="answerSubmission" action="/practice/next" method="POST"
        class="flex flex-col lg:sticky lg:-top-12">
        <input type="hidden" name="questions" value="<%= JSON.stringify(questions) %>">
        <input type="hidden" name="sessionId" value="<%= sessionId %>">
        <input type="hidden" name="current" value="<%= current %>">
        <input type="hidden" name="answers" value="<%= JSON.stringify(answers) %>">
             <div>
                <h2 class="font-bold underline text-sky-200 text:md md:text-2xl lg:text-xl mb-3">Question <span id="questionNumber" class="inline-block text-center p-2 border-1 bg-slate-800 text-white"><%= current + 1%></span> of <span id="totalQuestions" class="inline-block p-2 border-1 bg-slate-800 text-white"><%= questions.length%></span></h2>
                <p class="question-content m-auto text-center items-center min-h-50 py-1 md:py-3 px-2 md:px-4 font-bold border-1 border-violet-800 bg-zinc-900 rounded-lg text-lg md:text-xl lg:text-2xl"><%= questions[current].content%></p>
            </div>
            <ul class="flex order-2 transition-all duration-400 gap-4 m-auto w-full h-12 lg:h-16 mt-3 mb-3 place-content-around text-center">
                <li class="m-auto px-2 py-1 h-12 w-32/100 font-bold text-sm md:text-lg lg:text-xl bg-green-400 hover:bg-green-600 active:bg-green-950 outline-2 outline-grey-200 hover:outline-green-400 active:outline-green-800 rounded-full">
                    <input class="m-auto inline-block h-full w-full items-center" type="submit" value="End Response">
                </li>
                <!-- <li class="m-auto px-2 py-1 h-12 w-32/100 text-sm md:text-lg lg:text-xl bg-green-400 hover:bg-green-600 active:bg-green-950 outline-2 outline-grey-200 hover:outline-green-400 active:outline-green-800 rounded-full">
                    <button class="m-auto h-full w-full items-center">Record</button>
                </li> -->
            </ul>
            <div class="m-auto my-4 p-3 w-full flex items-center place-content-evenly border-1 border-green-900 bg-slate-800 rounded-xl">
                <div id="record" class="w-12 h-12 p-2 bg-red-600 hover:bg-red-800 active:bg-red-400 rounded-full">
                    <img class="block" src="/images/microphone.svg" alt="Record">
                </div>
                <div class="w-12 h-12 p-2 bg-blue-600 hover:bg-blue-800 active:bg-blue-400 rounded-full">
                    <img class="block" src="/images/pause.svg" alt="Pause">
                </div>
                <div id="stop" class="w-12 h-12 p-3 bg-red-600 hover:bg-red-800 active:bg-red-400 rounded-full">
                    <img class="block" src="/images/stop.svg" alt="Stop">
                </div>
                <div class="w-12 h-12 p-2 bg-gray-600 hover:bg-green-800 active:bg-green-400 rounded-full">
                    <img class="block" src="/images/play-pause.svg" alt="Play">
                    <audio id="recording" src=""></audio>
                </div>
            </div>
            <textarea class="w-90/100 text-xs md:text-lg lg:text-lg order-3 h-25 mt-10 focus:mt-30 focus:h-140 lg:focus:h-80 transition-all duration-300 resize-none px-2 py-1 mx-auto mb-6 border-2 border-gray-700 outline-0 focus:outline-2 focus:outline-blue-600 focus:bg-slate-800 rounded-lg" name="answer" id="answer"></textarea>
        </form>
    </div>
</div>

<script src="../practice.js"></script>