<div class="h-screen flex items-center place-content-center">
  <% if (!sufficient){%>
  <div id="proceedMessage" class="bg-slate-800 border-1 w-8/10 p-3 m-auto border-gray-300 rounded-lg">
    <p class="p-1 md:p-2 lg:p-3 text-white"><%= message %></p>
    <button class="m-auto w-65/100 bg-green-400 hover:bg-green-600 active:bg-green-950 text-white py-1 px-1 rounded-full mt-5"><a class="block" href="/practice">Walk Out</a></button>
    <form action="/practice/next" method="POST">
      <input type="hidden" name="questions" value="<%= JSON.stringify(questions) %>">
      <input type="hidden" name="current" value="<%= current %>">
      <input type="submit" value="Proceed" class="m-auto w-65/100 bg-green-400 hover:bg-green-600 active:bg-green-950 text-white rounded-full mt-3 mb-3 px-2 py-1 ">
    </form>
  </div>
  
  <%}else{%>
  <div id="beginMessage" class="bg-slate-800 border-1 w-8/10 p-3 m-auto border-gray-300 rounded-lg">
    <p class="p-1 md:p-2 lg:p-3 text-white">Good <i>time of day</i>. I hope things are going well. Please, have a seat and we'll begin.</p>
    <button class="m-auto w-65/100 bg-green-400 hover:bg-green-600 active:bg-green-950 text-white py-1 px-1 rounded-full mt-5"><a class="block" href="/practice">Walk Out</a></button>
    <form action="/practice/next" method="POST">
      <input type="hidden" name="questions" value="<%= JSON.stringify(questions) %>">
      <input type="hidden" name="current" value="<%= current %>">
      <input type="submit" value="Proceed" class="m-auto w-65/100 bg-green-400 hover:bg-green-600 active:bg-green-950 text-white rounded-full mt-3 mb-3 px-2 py-1 ">
    </form>
  </div>
  <%}%>
</div>